PORT=3000
MONGODB_URI=mongodb+srv://USUARIO:SENHA@CLUSTER.mongodb.net/meuBancoDeDados
FRONTEND_URL=https://andreluigicurriculo.vercel.app
GITHUB_USERNAME=seu_usuario_github
GITHUB_TOKEN=seu_token_do_github_opcional
ADMIN_USERNAME=admin
ADMIN_PASSWORD=defina_uma_senha_forte
JWT_SECRET=defina_um_jwt_secret_bem_forte
